{% load static %}
<html>
	<head>
		<title>Django Blog</title>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="styleshee\ t">
		<link href="{% static 'css/base.css' %}" rel="stylesheet">
	</head>
	<body>
		<div>
			<header>
				<div class="nav-left">
						<h1><a href = "{%url 'home' %}"> Django Blog</a></h1>
				</div>
				<aside>
					<ul style="list-style-type:none;">
						<li><a href = "{% url 'post_new' %}">+ New Blog Post</a></li>
						
						{% if user.is_authenticated %}
							<li>Hi {{ user.username }}!</li>
							<li><a href = "{% url 'logout' %}">Log out</a></li>
						{% else %}
							<li>You are not logged in.</li>
							<li>
								<a href ="{% url 'login' %}">Log In</a>

								<a href ="{% url 'signup' %}">Sign Up</a>
							</li>
						{% endif %}
					</ul>
				</aside>
			</header>
			
			{% block content %}
			{% endblock content %}
		</div>
	</body>
</html>